---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        {{ page.description }}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="logo-grid">
            {% for asset in page.assets %}
            <a href="{{ asset.download_path }}" download="{{ asset.download_path }}" class="logo-item">
              <img src="{{ asset.preview_image }}" class="img-fluid" alt="{{ asset.name}} image">
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

