body {
  background-color: $body-bg;
  color: $body-color;
}

section {
  padding: 30px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 15%);
  }
}
