.asset-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid $gray-300;
    margin: -1px 0 0 -1px;
    position: relative;
    height: 0;
    padding-top: 15%;
    background-color: $white;
    @include media-breakpoint-down(md) {
      width: 33%;
      padding-top: 25%;
    }
    img {
      display: block;
      width: auto;
      max-width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    p {
      color: $gray-300;
      font-size: 1rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
