.asset-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid $secondary;
    margin: -1px 0 0 -1px;
    position: relative;
    height: 0;
    padding-top: 15%;
    background-color: $white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(md) {
      width: 33%;
      padding-top: 25%;
    }
    img {
      display: block;
      width: auto;
      max-width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    p,
    i {
      color: $gray-300;
      font-size: 1rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    i {
      color: $white;
      font-size: 4rem;
      opacity: 0;
      z-index: 99;
      @include transition();
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $dark;
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 0.6;
      }
      i {
        opacity: 1;
      }
    }
  }
}
